body {
  margin: 0px;
}

::selection {
  background-color: gray, 0.2;
}
@media only screen and (min-width: 600px) {
  .image {
    margin: 0px 5vw 0px 5vw;
    width: 90vw;
    height: 70vh;
  }

  .paragraph {
    line-height: 20px;
    word-spacing: 3%;
    letter-spacing: 100px;
    max-width: 400px;
    font-size: 200px;
  }
}
